h1 {
    font-size: 80px;
    text-align: center;
    color: rgb(0, 0, 0);
    /* background-color: firebrick; */
    margin: auto;
    margin-bottom: 20px;
    /* border: 10px solid black; */
    width: 500px;
    box-sizing: border-box;
}

.container-1 {
    /* border: 2px solid black; */
    padding: 10px;

}


img {
    /* height: auto; */
    width: 500px;
    margin: auto;
    display: block;
    margin-bottom: 20px;

}



.list-item {
    color: firebrick;
    /* font-family: 'Brush Script MT', cursive; */
    /* font-size: 10px; */
}

.pointers-colors {
    /* border: 10px dotted green; */
    width: 255px;
    padding-right: 40px;
    margin: auto;
    margin-bottom: 0px;

}

.main-body {
    background-color: blanchedalmond;
}

h2 {
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;

}


.descriptor {
    color: firebrick;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.ingredients,
.steps {
    color: firebrick;
    font-weight: bolder;
    /* border: 0.5px black dashed; */
    /* margin-bottom: 20px; */

}

.ingredients {
    width: 40%;
    margin: auto;
    margin-bottom: 20px;

}

.steps {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

ol,
ul {
    margin: 20px;
    padding-right: 40px;
}

li {
    margin-bottom: 8px;
}

.last-item {
    margin-bottom: 0px;
}

.container-2 {
    /* border: 5px solid black; */
    padding: 20px;
}



.anchor {
    display: block;
    margin-bottom: 5px;
}